<!-- download.page /storage/   -->
<html ng-app="app" ng-controller="AppCtrl">
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Upload Your Images</title>
        <link href="../lib/ionic/css/ionic.min.css" rel="stylesheet"/>
        <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet"/>

    </head>
    <body>

        <input id="file-input" style="display:none;"  type="file" nv-file-select="" uploader="uploader" multiple />

        <div class="bar bar-header bar-positive">
            <h1 class="title">Sharing Panel</h1>
        </div>

        <ion-content >
            <br>
            <br>
            <br>
            <div class="padding">
        <button class="button button-block button-royal" style="border-radius:10px;" ng-click="upload()">
            <i class="icon ion-upload"></i>
            Upload Your Files
        </button>
            </div>
        <div class="list">

            <div class="item item-divider">
                Share With Table
            </div>

             <a ng-repeat="file in files track by $index" class="item item-thumbnail-left" ng-href="{{file.src}}" download>
                 <img ng-src="{{file.src}}">
                 <h2>{{file.name}}</h2>
                 <p>Click To Download</p>
             </a>
        </div>

        </ion-content>



    </body>

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/ionic/js/dist/js/ionic.bundle.js"></script>

    <script src="../lib/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="../js/standalone/upload_index.js"></script>
</html>
