/* @import "./lib/normalize.scss"; */
/* @import "./lib/skeleton.scss"; */
/* @import "./gallery.scss"; */
/* @import "./popup.scss"; */

$screen-height:40em;
$screen-width:40em;
$rotate-divider:10;


$sm:5px;
$md:15px;
.wrapper-sm {
    padding: $sm;
}

.wrapper-md {
    padding: $md;
}

.wrapper-margin-sm {
    margin: $sm;
}

.margin-right-sm {
    margin-right: $sm;
}

.margin-left-sm {
    margin-left: $sm;
}

.margin-top-vvlg {
    margin-top: 2em;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.border-bottom-sm {
    border-bottom: 1px solid #eee;
}

.search-bar {
    /* -webkit-transition: height 1s; */

    position: absolute;
    width: 100%;
    height: 2.5em;
    z-index: 5;
    opacity: 0.5;
    background-color: #000;
    .search-input {
        background-color: #ccc;
        height: 2em;
        width: 90%;
        margin-top: 0.25em;
        margin-left: 0.25em;
        &:before {
            -webkit-filter: blur(1px);
        }
    }
    .cancel {
        color: #fff;
        float: right;
        padding-top: 0.5em;
        padding-right: 0.5em;
    }
}

.bg-forsted {
    -webkit-filter: blur(2px);
}

.search-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(20px);
    z-index: 2;
    opacity: 0.5;
    background-color: #B2B2B2;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.lexicon-result {
    margin: 1em;
    -webkit-box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0.1em solid #fff;
    float: left;
    max-width: 8em;
    max-height: 8em;
    &:hover {}
}

.search-content-next {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em;
    #lexicon_images {
        height: 50%;
        overflow-y: scroll;
        border-bottom: 3px solid rgba(130, 130, 130, 0.3);
    }
    #lexicon_words {
        height: 50%;
        overflow-y: scroll;
    }
}

.sketching {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.lexicon-result-word {
    margin: 1em;
    -webkit-box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 71px -9px rgba(0, 0, 0, 0.75);
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0.1em solid #4aa3df;
    float: left;
    max-width: 8em;
    max-height: 8em;
    padding: 0.3em 0.1em 0.3em 0.1em;
    &:hover {}
}

img.qrcode {
    width: 10em !important;
    height: 10em !important;
}

.floating-btn {
    color: #fff;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.toolbar {
    position: absolute;
    z-index: 100;
    height: 1em;
    width: 90%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

#touch-board {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

body {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.000, 0.825, 0.695, 1.000);
}
#my-body{
    margin-top:2em;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.000, 0.825, 0.695, 1.000);
}


.pointer-events-none {
    pointer-events: none
}

.image-item {
    max-width: 8em;
    max-height: 10em;
    margin: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 35px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 35px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 35px -10px rgba(0, 0, 0, 0.75);
}


.image-item-container.ng-enter, .image-item-container.ng-move{
    /* -webkit-transition: 1s linear all; /\* Chrome *\/ */
    /* transition: 1s linear all; */
    /* opacity: 0; */
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}


/* .image-item-container.ng-enter.ng-enter-active, */
/* .image-item-container.ng-move.ng-move-active { */
/*   opacity:1; */
/* } */






.image-modal{
    background-color:rgba(17, 26, 24, 0.7) !important;
    text-align:center;
}

.image-modal-main{
    max-width:40em;
    max-height:40em;
    margin-top:10%;
}

.lexicon{
    border-bottom:1px solid #ddd;
    margin-bottom:2em;
}


.lexicon-words{

}

.qrcode-popover{
    height:80%;
}
.modal{
    top:auto;
    bottom:auto;
    right:auto;
    left:auto;
    width:100%;
    height:100%;
}

.dropping-zone{
    text-align:center;
    border: 3px dotted #666;
    padding:1em;
    margin:1em;
}

.transparent{
    opacity:0;
}
.border-none{
    border:none;
};


#my-body{
    width:$screen-width;
    height:$screen-height;
    display:inline-block;
    overflow:scroll !important;
}


.wrapper{
    text-align:center;
}

.position-inherit{
    position:inherit !important;
}

.writing-board{
    width:100%;
    overflow:hidden;
    height:$screen-height/2;
}

.rotate-panel{

    position:absolute;
    background-color:rgba(46, 64, 94, 0.5);

    &.right{
        height:100%;
        width:$screen-width/$rotate-divider;
        right:0em;
    }

    &.left{
        height:100%;
        width:$screen-width/$rotate-divider;
        left:0em;
    }

    &.top{
        height:$screen-height/$rotate-divider;
        width:100%;
        top:0em;
    }

    &.bottom{
        height:$screen-height/$rotate-divider;
        width:100%;
        bottom:0em;
    }
}
